/* HeroSection.module.css */
.container {
  text-align: center;
  padding: 20px;
}

.textContainer {
  margin-bottom: 20px;
}

.firstText {
  font-size: 24px;
  margin-bottom: 10px;
}

.secondText {
  font-size: 18px;
}

.heroImage {
  border-radius: 50%;
}
