
.container {
  text-align: center;
  padding: 20px;
}

.textContainer {
  margin-bottom: 20px;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstText {
  font-size: 24px;
  margin-right: 10px;
}

.secondText {
  font-size: 18px;
}

.heroImage {
  border-radius: 50%;
}
