.navbar {
    background-color: var(--color-primary);
    height: 74px;
    /* width: 1440px; */
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10;
    margin-bottom: 10;
  }
  